html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 12 , 60);
    background-color: rgb(0, 0, 0);
 }
 
 /* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 0 10%;
    height: 4rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
 }
 
.header li {
    display: inline;
    color:rgb(253, 12, 60);
    font-weight: bold;
    padding-right: 2rem;
 }

 .header a {
  color:rgb(253, 12, 60);
  text-decoration: none;
 }

 .header a li:hover {
  color: rgb(141,233,235);
 } 
 
.header .logo {
    flex-grow: 1;
    color: rgb(253, 12, 60);
    font-family: "Skranji";
    font-size: 1.2rem;
 }

 .header .logo a {
  color: rgb(159, 134, 192);
 }
 
 .header .logo a:hover {
  color: rgb(141,233,235);
 } 

 .header ul {
  margin-right: 150px;
 } 

 /* Banner 
.banner {
    background: url("./IMG/ikon2.jpg");
    height: 450px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "skranji";
    /*padding-top: 100px;/*
}

.banner h1 {
   /*background-color: rgb(159, 134, 192);/*
   width: 100px;
   text-align: center;
   color: rgb(204, 5, 45);
   margin-top: 200px;
   margin-left: 25px;
   border-top: 6px solid rgb(204, 5, 45);
   border-bottom: 6px solid rgb(204, 5, 45);
 }

.banner h2 {
   /*background-color: rgb(0, 0, 0);/*
   width: 200px;
   text-align: center;
   color: rgb(204, 5, 45);
   margin-top: 0px;
   margin-left: 25px;
   border-top: 6px solid rgb(204, 5, 45);
   border-bottom: 6px solid rgb(204, 5, 45);
 }*/
 
 /* Photo Slideshow */
.slideshow-container {
  position: relative;
  padding-top: 20px;
  }
  
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  .next {
  right: 0;
  }
  
  .fade {
  animation-name: fade;
  animation-duration: 3s;
  }
  
  @keyframes fade {
  from {opacity: 0.4;}
  to {opacity: 1;}
  }
  

 /* MV */
.MV {
  text-align: center;
  margin-top: 150px;
  color: rgb(204, 5, 45);
  font-family: "skranji";
  letter-spacing: 0.15rem;
  /*background-color: rgb(63, 60, 60);*/
}

.video-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  background-color: rgb(89, 88, 88);
  height: 450px;
}
 .video-info {
  margin-top: 5px;
  text-align: left;
  padding-left: 80px;
  width: 300px;
}
 .video-info h2 {
  color: rgb(204, 5, 45);
  width: 300px;
}
 .video-info p {
  color: rgb(0, 0, 0);
  width: 300px;
}
 .video-youtube {
  margin: 20px;
  position: relative;
  width: 660px;
}
 .video-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
}
 .video-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  width: 250px;
}
 .video-thumbnails img {
  width: 178px;
  height: 100px;
  margin: 22px;
  border: 3px solid rgb(204, 5, 45);
  cursor: pointer;
}
 .video-thumbnails img:hover {
  border: 3px solid rgb(204, 5, 45);
  filter: brightness(1.5);
}

 /*About*/
.about {
  text-align: center;
  margin-top: 100px;
  color: rgb(204, 5, 45);
  font-family: "skranji";
  letter-spacing: 0.1rem;
}

.aboutCards {
  text-align: center;
  font-family: "skranji";
 }

.aboutCards .col {
  display: inline-block;
  margin-left: 50px;
  font-family: "skranji";
  height: 450px;
}

.mempic {
  width: 200px;
}

.aboutCards h3 {
  color: rgb(204, 5, 45);
  text-transform: uppercase;
  font-style: italic;
  font-family: "skranji";
}

.aboutCards p {
  font-size: 16px;
  color: rgb(204, 5, 45);
  font-family: "skranji";
}

.aboutCards a {
  background-color: rgb(89, 88, 88);
  color: rgb(204, 5, 45);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.03px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  /*border: 2px solid rgb(224, 177, 203);*/
  border-radius: 8px;
  font-family: "skranji";
}

.aboutCards a:hover {
  background-color: rgb(252, 0, 50);
  background-image: linear-gradient(red, yellow);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-family: "skranji";
}

/* Contact */
.contact {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 40px;
  color: rgb(204, 5, 45);
  font-family: "skranji";
  letter-spacing: 0.15rem;
}

.contact-container{
  display: flex;
  align-items: flex-start;
  background-color: rgb(28, 17, 35);
  padding-top: 20px;
 }

.img-container{

}

.img-container img {
  width: 275px;
}

/* Form */
.form-container {
 flex: 1;
 width: 300px;
 display: flex;
 justify-content: center;
 margin-left: 70px;
 color: rgb(224, 177, 203);
}

form {
 display: flex;
 flex-direction: column;
}

form h2 {
 color: rgb(224, 177, 203);
 font-style: italic;
}

/* Text Input Fields */
input[type="text"],
input[type="email"],
input[type="date"],
textarea {
 width: 80%;
 padding: 3px;
 margin-top: 5px;
 border: 2px solid rgb(35, 25, 66);
 border-radius: 8px;
 background-color: rgb(224, 200, 203);
 color: rgb(35, 25, 66);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
outline: none; /*Remove the default bluder border */
border-color: rgb(190, 149, 196);
}

/* gender-container */
.gender-container {
  flex-wrap: nowrap;
}

.gender-container input[type="radio"] {
  margin-left: 20px;
  width: 10px; /* the size of buttons */
  border: 1px solid rgb(35, 25, 66);
}

.gender-container input[type="radio"]:first-child {
  margin-left: 55px;
  /* first child means the male button */
}

input[type="radio"] {
  margin-left: 10px;
  margin-top: 8px;
  appearance: none; /* Remove the default appearance of the radio button */
 }

 input[type="radio"]:before {
  content: ''; /* Create a pseudo-element to style the radio button */
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1.5px solid rgb(224, 177, 203);
 }

 input[type="radio"]:checked:before {
  border: 1px solid rgb(190, 149, 196); /* Set the border color */
  background-color: rgb(141,233,235); /* Set the background color */
 }
 
 /* Submit */
input[type="submit"] {
  width: 30%;
  padding: 8px;
  background-color: rgb(159, 134, 192);
  color:whitesmoke;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
 }
 
 input[type="submit"]:hover {
  background-color: rgb(224, 177, 203);
  color: rgb(35, 25, 66);
  font-weight: 700;
 }
 

/* Map */
.map-container {
  filter: hue-rotate(3.142rad);
  /* filter: hue-rotate(90deg);

filter: hue-rotate(-0.25turn);

filter: hue-rotate(3.142rad); */
 }

 .map-container iframe {
 
 }
 